body {
background:#E5E5E5;
font-family:Roboto, sans-serif;
overflow-y: auto;
overflow-x: hidden;
padding-bottom:150px;
}

.navbar {
align-items:center;
align-content:center;
padding-left:6.45vw!important;
padding-right:6.45vw!important;
}

.navbar-brand>img {
width:118px;
height:45px;
margin-top:-.3vw;
}

.nav-item>div {
text-align:center;
}

.logo_name>h6 {
color:#7B1113;
font-style:normal;
font-weight:700;
line-height:normal;
font-size:13px;
margin:0;
}

#college_name {
font-size:12px;
letter-spacing:.25em;
}

.logo_name>hr {
margin-top:.2vw;
margin-bottom:.2vw;
background:#7B1113;
}

.navbar-text {
position:absolute;
right:0;
width:480px;
height:37px;
top:8px;
margin-right:60px;
font-style:normal;
font-weight:700;
line-height:normal;
font-size:27px;
color:#7B1113;
}

.title_bar {
background:#293452;
text-align:center;
vertical-align:middle;
line-height:6vh;
min-height:6vh;
font-style:normal;
font-weight:700;
font-size:20px;
letter-spacing:.07em;
color:#FFF;
padding:1.2vh auto auto;
}

.indicator {
	background: blue;
	/*height: 100px;*/
	/*width: inherit;*/
	width: calc(100% - 40px);
	margin-top: 20px;
	margin-left: 20px;
	/*margin: 9px 20px 0 20px !important;*/
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.question {
	margin: 20px;
}

.info {
	display: flex;
	height: 35px;
	width: inherit;
	background: #e9ecef;
	margin-top: 5px;
	margin-bottom: 4px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*padding-left: 18px;*/
	/*margin-right: 10px;*/
}

.info>div {
	margin: auto;
	margin-left: 18px;
	font-size: 12px;
}

.jumbotron {
	/*margin-left: 10px;*/
	/*margin-right: -10px !important;*/
	padding: 10px 10px 10px 18px !important;
}

.prompt {
	margin-top: 30px;
}

.choices {
	margin: 10px 0 5px 13px;
}

.form-check {
	margin-top: 5px;
}


@media (max-width: 1000px){
.navbar-brand {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
margin-top:.2vw;
margin-bottom:.2vw;
}

.logo_name {
visibility:hidden;
}

.navbar-text {
display:none!important;
}