body {
width: 100%;
background:#E5E5E5;
font-family:Roboto, sans-serif;
color:#353B48;
overflow-x:hidden;
padding-bottom:50px;
}

.navbar {
align-items:center;
align-content:center;
padding-left:6.45vw!important;
padding-right:6.45vw!important;
}

.navbar-brand>img {
width:118px;
height:45px;
margin-top:-.3vw;
}

.nav-item>div {
text-align:center;
}

.logo_name>h6 {
color:#7B1113;
font-style:normal;
font-weight:700;
line-height:normal;
font-size: 81.3%;
margin:0;
}

#college_name {
font-size: 75%;
letter-spacing:.25em;
}

.logo_name>hr {
margin-top:.2vw;
margin-bottom:.2vw;
background:#7B1113;
}

.navbar-text {
position:absolute;
right:0;
width:480px;
height:37px;
top:8px;
margin-right:60px;
font-style:normal;
font-weight:700;
line-height:normal;
font-size: 168.7%;
color:#7B1113;
}

.title_bar {
background:#1c2a48;
text-align:center;
vertical-align:middle;
line-height:6.2vh;
min-height:6.2vh;
font-style:normal;
font-weight:700;
font-size: 125%;
letter-spacing:.07em;
color:#FFF;
padding-left:6.45vw !important;
padding-right:6.45vw!important;
margin-bottom: 10px;
}

.logout-button {
background: transparent;
border:none;
color: #fff;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
cursor: pointer;
outline: none;
font-weight: bold;
margin-left: 30px;
}

.fa-sign-out {
color: #fff;
}

@media (max-width: 1000px){
.navbar-brand {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
margin-top:.2vw;
margin-bottom:.2vw;
}

.logo_name {
visibility:hidden;
}

.navbar-text {
display:none!important;
}
}

.row {
width: 100%;
}

.col-md-4, .col-md-8 {
width: 100% !important;
margin: 50px 0px;
}

.container {
width: 100% !important;
margin: 0 auto;

}

.button {
border-radius: 100px !important;
margin-top: 0px !important;
margin-left: 20px !important;
background: #4d648d !important;
}

.instructions-box {
    margin-left: -30px !important;
}
.table-box {
    margin-left: 30px !important;
}

.button:hover {
color: #2f3640 !important;
}

.course-subject {
margin-bottom: 20px;
}

.card-body {
    background: #293452;
    color: #fff;
}

.time-remaining {
margin-top: 20px;
}